In [53]:
student_grades = {
    'Rachel': 4,
    'Monica': 2,
    'Joey':1,
    'Ross': 5,
    'Pheobe': 4, 
    'Chandler': 3,
}

In [54]:
student_grades

{'Rachel': 4, 'Monica': 2, 'Joey': 1, 'Ross': 5, 'Pheobe': 4, 'Chandler': 3}

In [55]:
max_key = max(student_grades,key=student_grades.get)

In [66]:
keys = sorted(student_grades, key=student_grades.get, reverse=True)[0]

In [67]:
keys

'Ross'

In [40]:
max([1,2,3,4], key=lambda x:-x)

1

In [46]:
def function(x):
    return -x

In [47]:
max([1,2,3,4], key=function)

1

In [68]:
student_grades

{'Rachel': 4, 'Monica': 2, 'Joey': 1, 'Ross': 5, 'Pheobe': 4, 'Chandler': 3}

In [75]:
student_grades = {
    'Rachel': 4,
    'Monica': 2,
    'Joey':1,
    'Ross': 5,
    'Pheobe': 4, 
    'Chandler': 3,
}

In [76]:
del student_grades['Rachel']

In [77]:
student_grades

{'Monica': 2, 'Joey': 1, 'Ross': 5, 'Pheobe': 4, 'Chandler': 3}

In [113]:
def all_in_one(input_dictionary):
    """
    Function to change a dictionary of students and grades such that it prints out the highest grade,
    remove the student with the lowest grade and print + return the revised dictionary.
    If more than one student has the lowest grade, remove all of them.
    :param input_dictionary: dictionary, student grades.
    :return input_dictionary: dictionary, revised dictionary.
    """
    
    # Find the highest grade and print it out
    highest_grade = max(input_dictionary,key=input_dictionary.get)
    print(highest_grade)
    lowest_grade = min(input_dictionary, key=input_dictionary.get)

    # Now find all the keys that have the lowest value
    lowest_value = sorted(student_grades.values())[0]
    lowest_keys = []
    for x in input_dictionary:
        if input_dictionary[x] == lowest_value:
            lowest_keys.append(x)

    for key in lowest_keys:
        del input_dictionary[key]
    
    print(input_dictionary)

In [112]:
student_grades = {
    'Rachel': 4,
    'Monica': 2,
    'Joey':1,
    'Ross': 5,
    'Pheobe': 4, 
    'Chandler': 3,
    'Gunther': 1
}
all_in_one(input_dictionary=student_grades)

Ross
{'Rachel': 4, 'Monica': 2, 'Joey': 1, 'Ross': 5, 'Pheobe': 4, 'Chandler': 3, 'Gunther': 1}

In [98]:
some_variable = []

In [99]:
type(some_variable)

list

In [106]:
student_grades = {
    'Rachel': 4,
    'Monica': 2,
    'Joey':1,
    'Ross': 5,
    'Pheobe': 4, 
    'Chandler': 3,
    'Gunther': 1
}
for x, y in student_grades.items():
    print(x, y)

Rachel 4
Monica 2
Joey 1
Ross 5
Pheobe 4
Chandler 3
Gunther 1

In [107]:
student_grades['Chandler']

3

In [108]:
blank_list = []
for x in range(10):
    blank_list.append(x)
print(blank_list)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [114]:
blank_list = []
for x in range(4):
    blank_list.append(x)

In [115]:
print(blank_list)

[0, 1, 2, 3]

In [121]:
for x in range(10):
    if x == 4:
        break
    print (x)

0
1
2
3

In [134]:
for x in [0,1,2,3]:
    print((x + x)**2)

0
4
16
36

In [130]:
range_function = lambda x: list(range(x, x + 6))

In [131]:
range_function(10)

[10, 11, 12, 13, 14, 15]

In [132]:
range_function(20)

[20, 21, 22, 23, 24, 25]

In [140]:
def my_random_list_func(input_list):

    for x in input_list:
        print((x + x)**2)

# Homework

## For Loops

* Use a for loop to print out all the numbers between 1 and 100 that are even
* Use a for loop to add 'hello' to every letter in the alphabet and then print that out (see below for how to access every letter in alphabet)
* Use a for loop to change the students grades dictionary above such that everyone's mark gets increased by 20% and all the names of the students are changed to add FRIENDS. So Ross should become Ross FRIENDS and his mark should be 7

In [1]:
from string import ascii_lowercase

In [2]:
ascii_lowercase

'abcdefghijklmnopqrstuvwxyz'

In [ ]:
for x in ascii_lowercase